* {
    font-size: 24;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: #fafafa;
}

@media only screen and (max-width: 700px) {
    #albums > div > div {
        flex-direction: column;
        padding: 1em;
    }
    p{
        margin: 5px;
    }
    #albumsHeader {
        display: none;
    }
}

body{
    background-color: #3E3E4A;
    width: 100vw;
    overflow-X: hidden;
}
button {
    border: 1px solid #fafafa;
    padding: .5em;
    transition: border .3s;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(50,50,50,.5);
}

button:hover{
    border: 1px solid #D4573E;
}

input {
    color: #212121;
}

#bannerBackground {
    background: linear-gradient(to bottom, #FF8460, #D4573E);
    width: 200%;
    height: 20em;
    position: absolute;
    top: -2em;
    left: -10%;
    z-index: -50;
    transform: rotate(-3deg)
}

h1{
    margin-top: 3em;
    margin-bottom: 5em;
    color: #fafafa;
    text-align: center;
}


#sortOptions {
    text-align: center;
}

#sortOptions > div {
    margin-bottom: 10px;
}

#sortOptions *{
    margin-left: 3px;
    margin-right: 3px;
}

#sortOptions button {
    background-color:darkslateblue;
}

div #addAlbumButton {
    background-color: #669C5D;
    color: #fafafa;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

#albums {
    color: #fafafa;
}

#albums > div > div {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #FF6740;
}



#albumsHeader > div {
    display: flex;
    justify-content: space-around;
}

#albumsHeader > div > div{
    flex: 1 1 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
    font-size: 20px;
}

#albums > div > div > div {
    flex: 1 1 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#albums > div > div > div:nth-child(4) input{
    width: 
}

#addAlbumScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, .8);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
}

#addAlbumScreen > div {
    background-color: #3E3E4A;
    display: flex;
    flex-direction: column;
    border: 1px solid #FF6D39;
    border-radius: 10px;
    color: #fafafa;
}

#addAlbumScreen h1 {
    padding-left: 2em;
    padding-right: 2em;
    margin: 0px;
    color: #fafafa;
}

#addAlbumScreen > div > #addAlbumView > div {
    margin: 1em;
}

#addAlbumScreen > div > #addAlbumView  > div:last-child {
    margin: 1em;
    display: flex;
}

#addAlbumScreen > div > #addAlbumView  > div > div {
    display: flex;
}

#addAlbumScreen > div > #addAlbumView  > div span {
    flex-basis: 100%;
}

#addAlbumScreen > div > #addAlbumView  > div > p {
    margin: 0px;
    padding: 0px;
}

#addAlbumScreen > div > #addAlbumView button {
    background-color: #669C5D;
    color: #fafafa;
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
    align-self: center;
}

#addAlbumScreen #viewAlbumsButton {
    background-color:darkslateblue;
    color: #fafafa;
}

#addAlbumScreen #addAnotherButton {
    background-color: #669C5D;
    color: #fafafa;
}

#closeAdd {
    cursor: pointer;
    color: #FF6D39;
    font-size: 1.3em;
    font-weight: 800;
}

#thanksView{
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

#thanksView > div > div{
    display: flex;
    justify-content: space-around;
}



#albums input {
    height: 40px;
    font-size: 15px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #FF6740;
    padding-left: 1em;
}

#albums .change {
    width: 80px;
    height: 30px;
    transition: opacity 1s;
    background-color:darkslateblue;
    color: #fafafa;
    text-transform: uppercase;
}

#albums .discard {
    margin: 0px;
    width: 40px;
    height: 30px;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    color: #fafafa;
    background-color: #DE4C2B;
 }

#albums .save {
    margin: 0px;
    width: 40px;
    height: 30px;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    color: #fafafa;
    background-color: #44BF58;
}


#albums .remove {
    width: 80px;
    height: 30px;
    background-color: #DE4C2B;
    color: #fafafa;
    text-transform: uppercase;
}

#albums img {
    height: 30px;
    position: absolute;
    margin-left: 5px;   
}

.hidden {
    display: none;
}

#pageOptions{
    display: flex;
    justify-content: center;
}

#pageOptions button{
    font-size: 2em;
    color: #FF6740;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #3E3E4A;
    margin-bottom: 5em;
    border: none;
    box-shadow: none;
}

#pageOptions button:active{
    border: none;
    outline: none;   
}

div #previousButton {
    opacity: .3;
}

div #search {
    background-color: #D4573E;
    opacity: 0;
    transition: opacity .5s;
}

#searchField {
    margin-left: 90px;
}

#descending {
    opacity: .5
}






